
.err-msg {
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    horiz-align: center;
    color: #FF5656;
}

.err {
    border: 2px solid #FF5656;
}

.info-block-frame{
    border-radius: 48px;
    padding: 40px;
}

.info-block-body{
    display: grid;
    gap: 16px;
}
