
.login-layout {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/bg_login_layout.jpeg);
    justify-content: center;
    align-items: center;
    display: flex;
}

.login-layout::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px); /* Размытие фона */
}

/* Для маленьких экранов */
@media (max-width: 768px) {
    .login-layout {
        background-image: url('../images/bg_login_layout_small.jpg');
    }
}

/* Для средних экранов */
@media (min-width: 769px) and (max-width: 1024px) {
    .login-layout {
        background-image: url('../images/bg_login_layout_medium.jpg');
    }
}

/* Для больших экранов */
@media (min-width: 1025px) {
    .container {
        background-image: url('../images/bg_login_layout.jpeg');
    }
}

.login-wrapper {
    position: relative;
    z-index: 2;
    width: 320px;
    border-radius: 48px;
    padding: 40px;
    gap: 48px;
    display: flex;
    flex-direction: column;
    background-color: #0D0D0D; /* Добавьте цвет фона, если нужно */
}

.login-header {
    height: 104px;
    display: grid;
    top: 0;
    gap: 32px;
}

.login-title {
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}

.login-body {

}

.login-inputs {
    display: grid;
    gap: 8px;
    width: 100%;
    height: 168px;
}

.login-input {
    min-width: 148px;
    border-radius: 32px;
    padding: 28px 24px 28px 24px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    background: #1C1C1C;
    color: #fff;
    border: none;
}

input::placeholder {
    color: #9B9B9B;
    font-size: 18px;
    line-height: 24px;
}

.form-btn {
    display: grid;
    min-width: 148px;
    border-radius: 24px;
    padding: 16px 24px 16px 24px;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: none;
}


.login-buttons {
    display: grid;
    gap: 8px;
}

.form-ref {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #E6E6E6;
    text-decoration: none;
}

.ref-container {
    display: grid;
    min-width: 148px;
    border-radius: 24px;
    padding: 16px 24px 16px 24px;
    gap: 10px;
}

.forgot {
    background: #0D0D0D;
    color: #E6E6E6;
}

.register {
    background: #1C1C1C;
    color: #E6E6E6;
}

.register:hover {
    background: #262626;
}

.forgot:hover {
    background: #1C1C1C;
}

input:hover {
    background: #262626;
}

input:focus {
    background: #1C1C1C;
    transition: ease-out 200ms ;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
    transform: translateY(10px) scale(0.75);
}

label {
    transition: transform 200ms, color 200ms;
}

.input-wrapper {
    display: block;
}

.placeholder {
    position: absolute;
}