
.login-layout {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/bg_login_layout.jpeg);
    justify-content: center;
    align-items: center;
    display: flex;
}

.login-layout::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px); /* Размытие фона */
}

/* Для маленьких экранов */
@media (max-width: 768px) {
    .login-layout {
        background-image: url('../images/bg_login_layout_small.jpg');
    }
}

/* Для средних экранов */
@media (min-width: 769px) and (max-width: 1024px) {
    .login-layout {
        background-image: url('../images/bg_login_layout_medium.jpg');
    }
}

/* Для больших экранов */
@media (min-width: 1025px) {
    .container {
        background-image: url('../images/bg_login_layout.jpeg');
    }
}





.login-title {
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}

.login-body {

}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input::placeholder {
    color: #9B9B9B;
    font-size: 18px;
    line-height: 24px;
}

.form-btn {
    display: grid;
    min-width: 148px;
    border-radius: 24px;
    padding: 16px 24px 16px 24px;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: none;
    cursor: pointer;
}

.slim {
    gap: 0;
    padding: 12px 20px 12px 20px;
}

.timer-cntr {
    position: relative;
    align-content: end;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border: none;
}

.form-ref {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #E6E6E6;
    text-decoration: none;
}

.ref-container {
    display: grid;
    min-width: 148px;
    border-radius: 24px;
    padding: 16px 24px 16px 24px;
    gap: 10px;
}

.forgot {
    background: #0D0D0D;
    color: #E6E6E6;
}

.register {
    background: #1C1C1C;
    color: #E6E6E6;
}

.register:hover {
    background: #262626;
}

.forgot:hover {
    background: #1C1C1C;
}


.input-group:hover,
.input-group:hover .auth-input,
.input-group:hover input:-webkit-autofill{
    background: #262626;
    box-shadow: 0 0 0 30px #262626 inset !important;
    -webkit-text-fill-color: #E6E6E6 !important;
}


input:focus {
    background: #1C1C1C;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px #1C1C1C inset !important;
    -webkit-text-fill-color: #E6E6E6 !important;
}

input:-webkit-autofill:hover {
    box-shadow: 0 0 0 30px #262626 inset !important;
    -webkit-text-fill-color: #E6E6E6 !important;
}


input:focus ~ label,
input:not(:placeholder-shown) ~ label {
    transform: translateY(-40%) scale(0.75);
}

input:focus ~ .btn,
input:not(:placeholder-shown) ~ .btn {
    opacity: 1;
    z-index: 100;
}

.input-group>input:not(:focus) {
    cursor: pointer;
}

label {
    transition: transform 200ms;
    cursor: pointer;
}

.btn {
    transition: opacity 200ms;
    cursor: pointer
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 148px;
    border-radius: 32px;
    padding: 25px 0 25px 0;
    background: #1C1C1C;
    border: 2px solid transparent;
    cursor: pointer;
}

.input-group::before {
    content: ''; /* Обязательное свойство для псевдоэлемента */
    position: absolute; /* Абсолютное позиционирование */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Высокий z-index, чтобы перекрыть другие элементы */
}

.input-group>label {
    position: absolute;
    align-self: auto;
    width: 100%;
    justify-self: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    opacity: 0.5;
    cursor: pointer;
    user-select: none;
}

.input-group>input {
    width: 100%;
    outline: none;
}

.input-group>.btn {
    position: absolute;
    align-self: center;
    background: none;
    border: none;
    left: 80%;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darkcyan;
    border: 2px solid cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.input-error {
    animation: error_animation ease-out 1000ms;
    opacity: 0.6;
    visibility: visible;
    z-index: 10;
}

@keyframes error_animation {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: darkcyan;
    }
}