
@font-face {
    font-family: 'PPNeueMontreal-Variable';
    src: url('PPNeueMontreal-Variable.woff2');
    src: local('PPNeueMontreal-Variable'), local('PPNeueMontreal-Variable'),
        url('PPNeueMontreal-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontreal Regular';
    src: local('NeueMontreal'),
    url('NeueMontreal-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
