@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

.loads {
    animation: spin 1s infinite linear;
    object-fit: cover;
    width: fit-content;
    height: auto;
}

.cntr {
    display: grid;
    place-items: center;
    overflow: hidden;
}